.Main {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 1px;
 
}

.post-wrapper {
  height: 400px;
  background-color: white;
  width: 300px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.post-wrapper:hover{
    background-color: #dbdbdb;
}

.add-post{
    background-color: transparent;
    color: black;
    border: 3px dashed #fff;
}

.add-post h1{
    color: rgb(255, 255, 255);
    font-size: 80px;
}

.add-post:hover{
    background-color: transparent;
}
